@{
    ViewData["Title"] = "Kezdőoldal";
}

<div class="text-center">
    <h1 class="display-4">Üdvözlet az oldalunkon!</h1>
    <p><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">Ide kattintva többet megtudhatsz az általunk használt tecnologiáról</a>.</p>
</div>
